<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLIRDA11;Data Source=localhost;Integrated Security=SSPI;Initial Catalog=tiendaLibros"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>